body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  }
 
h1{
  color:  rgb(186, 205, 220);
  font-size: 3rem;
  text-transform: uppercase;
}



.btn{
  border-radius: 300px;
  padding: 15px;
  margin: 5px;
}

html body hr{
    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #F05F44;
    max-width: 65px;
    opacity: 1;  
}

.space{
  height: 7rem;
}

.btn-danger:hover{
  transition-property: all;
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.animation{
  animation-name: bounceIn;
  animation-duration: calc(1s * 0.75);
}